DraftSnakeLibrary/.vs/DraftSnakeLibrary/v15/Server/sqlite3/db.lock
DraftSnakeLibrary/.vs/DraftSnakeLibrary/v15/Server/sqlite3/storage.ide
DraftSnakeLibrary/.vs/DraftSnakeLibrary/v15/Server/sqlite3/storage.ide-shm
DraftSnakeLibrary/.vs/DraftSnakeLibrary/v15/Server/sqlite3/storage.ide-wal
